@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

html {
    font-size: 100%;
    overflow-x: hidden;
}

html body {
    font-size: 16px;
    font-weight: bold;
    background-image: url(../Code/court_transp.png);
    background-attachment : fixed;
    background-repeat : no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Merienda', cursive;
}

.navbar-custom {
    height: 80px;
    background-color: #d2b48c;
    font-weight: bold;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #a0522d;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: rgb(119, 27, 27);
}

.navbar-custom .navbar-collapse .navbar-nav .active .nav-link {
    color: rgb(119, 27, 27);
    text-decoration: underline;
}

.logo {
    height: 67px;
}

.titre {
    padding: 20px;
    font-size: 4em;
    color: #a0522d;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
    text-align: center;
    background: #ffebcd;
    opacity: 0.9;
}

div h2 {
    padding: 15px;
    font-size: 3em;
    color: #a0522d;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
    text-align: center;
}

div h3 {
    font-size: 1.5em;
    color: #df8106;
    text-align: center;
}

p {
    text-align: center;
}

.tarifs {
    align-items: center;
    background : #ffebcd;
    opacity: 0.9;
}