
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

html {
    font-size: 100%;
    overflow-x: hidden;
}

html body {
    font-size: 16px;
    font-weight: bold;
    background-image: url(court_transp.png);
    background-attachment : fixed;
    background-repeat : no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Merienda', cursive;
}

.navbar-custom {
    height: auto;
    background-color: #d2b48c;
    font-weight: bold;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #a0522d;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: rgb(119, 27, 27);
}

.navbar-custom .navbar-collapse .navbar-nav .active .nav-link {
    color: rgb(119, 27, 27);
    text-decoration: underline;
}

.logo {
    height: 67px;
}

.titre {
    padding: 20px;
    font-size: 50px;
    color: #a0522d;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
    background: #ffebcd;
    opacity: 0.9;
}

article h2 {
    padding-top: 15px;
    font-size: 40px;
    color: #a0522d;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
}

.contacts {
    align-items: center;
    background : #ffebcd;
    opacity: 0.9;
}

.titre, article h2, p {
    text-align: center;
    word-wrap: break-word;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
    
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* Pour les appareils avec écran et dont la largeur maximale est de 444px */
@media screen and (max-width: 444px) {
    .logo {
        height: 50px;
    }
}

/* Pour les appareils avec écran et dont la largeur maximale est de 354px */
@media screen and (max-width: 354px) {
    .logo {
        height: 40px;
    }

    html body {
        font-size: 15px;
    }

    .titre {
        font-size: 40px;
    }

    article h2 {
        font-size: 30px;
    }
}